GRAPHQL_ENDPOINT=https://catalog-service.adobe.io/graphql
API_KEY=7a7d7422bd784f2481a047e03a73feaf
MAGENTO_ENVIRONMENT_ID=2ce24571-9db9-4786-84a9-5f129257ccbb
MAGENTO_WEBSITE_CODE=base
MAGENTO_STORE_CODE=main_website_store
MAGENTO_STORE_VIEW_CODE=fr
PAGE_SIZE=500
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres?schema=bsaq"
